<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Chouette Sieste
			{% endblock %}
		</title>


		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">

			<link rel="stylesheet" href="/css/stylesheet.css">
			<link rel="icon" href="/img/Logo.png">
		{% endblock %}
	</head>

	<body>
		<div class="logo">
			{% if app.user and app.user.roles[0] == "ROLE_RENTER" %}
				<a href="{{ path('renter') }}"><img src="/img/user.png" alt="Profil Utilisateur" class="profil"></a>
			{% elseif app.user and app.user.roles[0] == "ROLE_SLEEPER" %}
				<a href="{{ path('sleeper') }}"><img src="/img/user.png" alt="Profil Utilisateur" class="profil"></a>
			{% else %}
				<p style="width:64px;">-</p>
			{% endif %}
			<a href="{{ path('home') }}"><img src="/img/Logo.png" alt="logo" class="imageNavbar"></a>
			<a href="{{ path('help') }}"><img src="/img/help.png" alt="Page d'aide" class="help"></a>
		</div>


		<nav class="navbar">
			<div class="chouette">
				<h1 class="chouette">Chouette Sieste</h1>
			</div>
			{% if app.user %}
				<div class="bonjour">
					<h3>Bonjour
						{{ app.user.surname }}</h3>
					<a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% else %}
				<div class="bouton">
					<a class="btn btn-sm btn-primary" href="{{ path('renter_new') }}">Je souhaite louer</a>
					<a class="btn btn-sm btn-primary" href="{{ path('sleeper_new') }}">Je souhaite dormir</a>
					<a class="btn btn-sm btn-success" href="{{ path('app_login') }}">Se connecter</a>
				</div>
			{% endif %}
		</nav>
		<div class="container">
			{% if message is defined %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endif %}
		</body>

		{% block body %}{% endblock %}
	</body>

</html></div></html>
