{% extends 'base.html.twig' %}

{% block title %}New user{% endblock %}

{% block body %}
<h1>Nouveau dormeur</h1>

{{ form_start(form, {'attr': {'id': 'new_edit_user'}}) }}
<div class="form-group">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.surname) }}
    {{ form_widget(form.surname) }}
    {{ form_label(form.adress) }}
    {{ form_widget(form.adress) }}
    {{ form_label(form.zipcode) }}
    {{ form_widget(form.zipcode) }}
    {{ form_label(form.town) }}
    {{ form_widget(form.town) }}
    {{ form_label(form.phone) }}
    {{ form_widget(form.phone) }}

    {% do form.debut.setRendered() %}
    {% do form.fin.setRendered() %}
    <br>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
{% endblock %}